
WEB_URL="http://localhost:3000"


OPENHIM_API_URL="https://openhim-core:8080"
OPENHIM_USERNAME="root@openhim.org"
OPENHIM_PASSWORD="openhim-password"

## FHIR SERVER
FHIR_BASE_URL="http://hapi-fhir-jpa:8080/fhir"

## KEYCLOAK CONFIG
KC_BASE_URL="https://chanjokeiam.intellisoftkenya.com/auth"
KC_CLIENT_ID="chanjo-client-apis"
KC_CLIENT_SECRET="a4YzYNDMNAIbuN3fcNWOIGVuQ2bz4kRy"
KC_REALM="test"

